#site-wrapper{
  position: relative;
  margin-left: 5%;
  margin-right: 5%
}

.indexBody {
	margin: 0;
	padding: 0;
	background: url(../img/unknown.png) no-repeat center center fixed;
  background-size: 100% 100%;
}

input[type="number"] {
  width: 4rem;
  margin: 0.125rem;
}

table {
  margin-top: 0.5rem;
}


button{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

body{
  font-size : clamp(0.5em, 1vw, 1em);
}