
@media only screen and (min-width: 38rem) {
  #selectWeapon{
    max-width: 38rem;
  }
}

#outputPrices td{
  border-color: secondary;
  border-style: solid;
  border-right: solid 1px secondary;
  border-left-width: 1px;
}


table{
  max-width: 100%;
}

input[name="mobileView"]{
  margin-left: 0.3rem;
}
