td, th{
  vertical-align: middle;
}

input[name="mobileView"]{
  margin-left: 0.3rem;
}


.dps_but{
    margin-bottom: 10rem;
}

.clear_but{
    margin-bottom: 10rem;
}

.dropdownMenuButton{
    margin: 0;
}

